<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<h1>Log in</h1>
<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
  <div class="form">
    <div class="field">
      <%= f.label t :email %>
      <%= f.email_field :email %>
    </div>

    <div class="field">
      <%= f.label t :password %>
      <%= f.password_field :password %>
      <p>*Password must be at least 6 characters long.</p>
    </div>

    <div class="field">
        <%= f.submit "Log in" %>
    </div>
    <br>
    <div>
      Don't have an account yet? <%= link_to "Sign up", new_user_path %>
    </div>

  </div>
<% end %>