<h1><%= @user.name%>'s relationship</h1>
<table>
  <td colspan="2">following</td>
  <% @following.each do |user| %>
  <tr>
    <td><%= user.name %>
    <%= link_to "ðŸ‘€", user_path(user.id)%></td>
    <!---ãƒ•ã‚©ãƒ­ãƒ¼ãƒœã‚¿ãƒ³ã®ãƒ‘ãƒ¼ã‚·ãƒ£ãƒ« _follow_form.html.erb --->
    <td><%= render 'follow_form', user: user %></td>
  </tr>
  <% end %>
</table>
<table>
  <td colspan="2">followers</td>
  <% @followers.each do |user| %>
  <tr>
    <td>
      <%= link_to user.name, user %>
      <%= link_to 'ðŸ’Œ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: :post %>
    </td>
    <!---ãƒ•ã‚©ãƒ­ãƒ¼ãƒœã‚¿ãƒ³ã®ãƒ‘ãƒ¼ã‚·ãƒ£ãƒ« _follow_form.html.erb --->
    <td><%= render 'follow_form', user: user %></td>
  </tr>
  <% end %>
  </table> 