<p id="notice"><%= notice %></p>


<h1>Recent Posts</h1>

<table>
  
    <% @pictures.each do |picture| %>
    <tbody>
      <tr>
        <td class="name"><strong><%= picture.user.name %></td></strong>
      </tr>
      <tr>
        <td><%= link_to (image_tag picture.image.url), picture %></td>
      </tr>
      <tr>
        <td><%= picture.content %></td>
      </tr>
      <tr>
        <td>
          | <%= picture.created_at.strftime('%Y/%m/%d %H:%M')%> |
          <% if logged_in? && authenticate_user?(picture) %>
            <%= link_to '•••', edit_picture_path(picture) %>
          <% end %>
        </td>
      </tr>
    </tbody>  
    <% end %>
  
</table>