<p id="notice"><%= notice %></p>


<h1>Recent Posts</h1>

<table>
  
    <% @pictures.each do |picture| %>
    <tbody>
      <tr>
        <td class="name">
          <%= image_tag picture.user.image_name.url , class: "icon" %> 
          <strong><%= picture.user.name %></td></strong>
      </tr>
      <tr>
        <td><%= link_to (image_tag picture.image.url), picture  if picture.image.present?%></td>
      </tr>
      <tr>
        <td><%= picture.content %></td>
      </tr>
      <tr>
        <td>
          <%= link_to favorite_picture_path(picture.id) do %>
            <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> <%= pluralize(picture.favorites.count, "like", locale: :en)%>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>
          | <%= picture.created_at.strftime('%Y/%m/%d %H:%M')%> |
          <% if logged_in? && authenticate_user?(picture) %>
            <%= link_to edit_picture_path(picture) do %>
              <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
            <% end %>
          <% end %>
        </td>
      </tr>
    </tbody>  
    <% end %>
</table>
